- name: Load the Maven
  ansible.builtin.import_role:
    name: common
    tasks_from: maven
  vars:
    component: shipping

# ---------------- DB OPERATIONS ----------------

- name: Load DB schema (run as roboshop)
  ansible.builtin.shell: |
    mysql -h mysql-dev.kiranpanchavati.online -uroboshop -pRoboShop@1 < /app/db/schema.sql
  args:
    executable: /bin/bash

- name: Read app-user.sql from shipping
  ansible.builtin.slurp:
    src: /app/db/app-user.sql
  register: app_user_sql

- name: Run app-user.sql locally on MySQL server as root
  ansible.builtin.shell: |
    mysql -uroot -pRoboShop@1 <<< "{{ app_user_sql.content | b64decode }}"
  args:
    executable: /bin/bash
  delegate_to: mysql-dev.kiranpanchavati.online

- name: Load master data (run as roboshop)
  ansible.builtin.shell: |
    mysql -h mysql-dev.kiranpanchavati.online -uroboshop -pRoboShop@1 < /app/db/master-data.sql
  args:
    executable: /bin/bash